[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweety-ns = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
certifi = "*"
selenium = "==4.2.0"
chromedriver-autoinstaller = "*"
urllib3 = "*"
loguru = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
